{
    "shodan": {
        "apikey": "SHODAN_API_KEY",
        "networks": {
            "NETWORK NAME": "0.0.0.0/0",
            "NETWORK2NAME": "120.0.0.0/8"
        }
    },
    "email": {
        "server": "HOSTNAME:PORT",
        "from": "SHODAN@PWNED.NL",
        "to": ["ELONGATED_MUSKRAT@TESLA.RU", "SBALLMER@DEVELOPERS.COM"]
    },
    "known": [
        {
            "ip": "1.1.1.1",
            "port": 1234,
            "transport": "tcp"
        },
        {
            "ip": "8.8.8.8",
            "port": 3333,
            "transport": "udp"
        }
    ]
}
